@mixin font-style($family, $size, $height, $color:white){
    font-family: $family, sans-serif;
    font-size: $size;
    line-height: $height;
    color: $color;
}
@mixin position-tl($top,$left, $positoin:absolute){
    position: $positoin;
    top: $top;
    left:$left;
}

@mixin position-rb($right,$bottom, $positoin:absolute){
    position: $positoin;
    right: $right;
    bottom:$bottom;
}

@mixin position-tr($top,$right, $positoin:absolute){
    position: $positoin;
    right: $right;
    top:$top;
}
