$white: #ffffff;
$gray:  rgba(255, 255, 255, 0.59);
$light_gray:  rgba(255, 255, 255, 0.7);
$blue:  rgba(65, 87, 107, 1);
$dark_gray: rgba(102, 102, 102, 1);
$light_blue:rgb(73, 101, 127);
$black:  #000000;