.footer {
    background: linear-gradient(211.05deg, $light_blue 18.79%, $black 234.52%),
        linear-gradient(7.78deg, $black -57.7%, $light_blue 101.68%);
    display: grid;
    height: 350px;
    position: relative;

    &__left {
        @include position-tl(55%, 34%);
        text-align: center;
        a {
            margin-top: 15%;
        }
    }

    &__middle {
        @include position-tl(5%, 33%);
        text-align: center;
    }
    &__right {
        @include position-tl(85%, 25%);
        text-align: center;
    }
    &__ship {
        display: none;
    }
}
