.footer {
    display: flex;
    justify-content: space-around;
    height: 25vh;
    padding: 3%;
    position: relative;
    background: linear-gradient(211.05deg, $light_blue 18.79%, $black 234.52%);
    font-family:
        Source Sans_400,
        sans-serif;
    color: $gray;

    p {
        font-size: 18px;
        line-height: 19px;
    }

    &__left {
        display: grid;

        a {
            color: $gray;
            text-decoration: none;
            align-self: flex-end;
            font-size: 18px;
            line-height: 19px;
        }
    }

    &__middle {
        text-align: center;
        margin-top: -1%;

        img {
            width: 80%;
            margin-top: 15%;
            animation: animation-ship 2s ease 2s infinite;
        }

        h6 {
            @include font-style(Source Sans_400, 20px, 18px, $white);
            letter-spacing: 2px;
            margin-top: 15%;
        }
    }

    &__right {
        align-self: flex-end;
        color: $gray;
        font-size: 20px;
    }

    &__ship {
        @include position-rb(200px, 0);
        padding-bottom: -5px;
    }
}
