header {
    background-image: url('../assets/header.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: contain;
    background-position-x: right;

    .header-top {
        background-image: url('../assets/rectangle.png');
        width: 80%;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;

        &__nav {
            #menu__toggle {
                display: none;
            }
            &-top {
                padding-top: 30px;
                display: flex;
                justify-content: space-around;
                ul {
                    list-style-type: none;
                    gap: 30px;
                    display: flex;
                    a {
                        color: $white;
                        text-decoration: none;
                        padding-bottom: 5px;
                        border-bottom: 1px solid transparent;
                        cursor: pointer;
                        font-family:
                            Source Sans_400,
                            sans-serif;
                        font-size: 14px;
                        line-height: 16px;
                        letter-spacing: 3px;
                        text-transform: uppercase;
                        transition: 0.3s;
                        &:hover {
                            border-bottom: 2.5px solid $white;
                        }
                    }
                }

                h1 {
                    font-stretch: condensed;
                    @include font-style(Source Sans_600, 20px, 16px, $white);
                    letter-spacing: 3px;
                    text-transform: uppercase;
                    margin-left: -40%;
                }
            }
        }

        &__ship {
            width: 50%;
            margin-top: -52vh;
            display: flex;
            justify-content: flex-start;
            height: 80vh;
            opacity: 0.4;
        }
    }
}
