header {
    .header-top {
        background-image: url('../assets/header__mobile.png');
        width: 100%;
        height: 100vh;
        background-repeat: no-repeat;

        &__nav {
            #menu__toggle {
                opacity: 0;
            }

            .menu__btn {
                display: flex;
                align-items: center;
                width: 26px;
                height: 26px;
                cursor: pointer;
                z-index: 1;
                @include position-tr(20px, 20px, fixed);
            }

            .menu__btn > span,
            .menu__btn > span::before,
            .menu__btn > span::after {
                display: block;
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: $white;
            }

            .menu__btn > span::before {
                content: '';
                top: -8px;
            }

            .menu__btn > span::after {
                content: '';
                top: 8px;
            }

            .menu__box {
                display: block;
                visibility: hidden;
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 80px 0;
                list-style: none;
                text-align: center;
                background-color: $light_blue;
                box-shadow: 1px 0 6px $white;
                @include position-tr(0, 0, fixed);
            }

            .menu__item {
                display: block;
                padding: 12px 24px;
                @include font-style(Source Sans_600, 20px, $white);
                text-decoration: none;
            }

            .menu__item:hover {
                background-color: $light_blue;
            }

            #menu__toggle:checked ~ .menu__btn > span {
                transform: rotate(45deg);
            }
            #menu__toggle:checked ~ .menu__btn > span::before {
                top: 0;
                transform: rotate(0);
            }
            #menu__toggle:checked ~ .menu__btn > span::after {
                top: 0;
                transform: rotate(90deg);
            }
            #menu__toggle:checked ~ .menu__box {
                visibility: visible;
                right: 0;
            }

            .menu__btn > span,
            .menu__btn > span::before,
            .menu__btn > span::after {
                transition-duration: 0.25s;
            }

            .menu__box {
                transition-duration: 0.25s;
            }

            .menu__item {
                transition-duration: 0.25s;
            }

            &-top {
                ul li a {
                    display: none;
                }
            }
        }

        &__ship {
            display: none;
        }
    }
}
