.header-top__nav-content {
    justify-content: center;
    text-align: center;
    width: 80%;
    margin-top: 5%;

    &__ship1 {
        display: none;
    }

    &__ship2 {
        display: none;
    }

    img {
        margin: auto;
        width: 15%;
        animation: animation-ship 2s ease-in 2s infinite;
    }

    h1 {
        @include font-style(Oswald_700, 75px, 84.5px, $white);
        font-stretch: condensed;
        margin: 2%;
    }

    p {
        @include font-style(Source Sans_400, 24px, 32px, $light_gray);
        padding-top: 30px;
        text-align: start;
        width: 60%;
        margin-left: 25%;
    }
}
