.header-top__nav-content {
    margin: 9% auto;

    img {
        width: 35%;
        margin-top: 20%;
    }

    h1 {
        font-size: 50px;
        line-height: 68px;
    }

    p {
        width: 60%;
        margin: auto;
        text-align: center;
        margin-top: 10%;
    }

    &__ship1 {
        display: block;
        opacity: 0.4;
        @include position-tr(330px, 0);
    }

    &__ship2 {
        display: block;
        @include position-tl(110px, 0);
        opacity: 0.3;
    }
}
