main {
    padding-top: 15%;
    .title-section {
        h1 {
            margin: auto;
            width: 78%;
            br {
                display: none;
            }
        }

        &__subtitle {
            width: 80%;
            margin: 9%;
        }
        &__ship-one,
        &__ship-two {
            display: none;
        }

        &__title-text {
            display: grid;
            gap: 40px;
            width: 70%;
            article {
                width: 100%;
            }
        }

        button {
            margin: 20%;
        }
    }
}
