main {
    padding-top: 7%;
    text-align: center;

    .title-section {
        position: relative;

        h1 {
            @include font-style(Oswald_700, 48px, 64px, $blue);
        }

        &__subtitle {
            margin: 3% auto;
            width: 30%;
            @include font-style(Source Sans_400, 24px, 32px, $dark_gray);
        }

        &__title-text {
            display: flex;
            justify-content: space-around;
            margin: auto;
            width: 70%;
            text-align: start;
            article {
                width: 31%;
                @include font-style(Source Sans_400, 16px, 22px, $dark_gray);
            }
        }
        button {
            margin-top: 5%;
            @include font-style(Oswald_400, 14px, 26px, $white);
            padding: 12px 40px;
            border-radius: 50px;
            background: $blue;
            border: none;
            font-size: 17px;
            transition: 0.4s;
            cursor: pointer;
            &:hover {
                transform: rotate(10deg);
            }
        }

        &__ship-one {
            @include position-tl(260px, 0);
        }
        &__ship-two {
            @include position-tr(0, 0);
        }
    }
}
