main {
    .learn-more {
        background-image: url('../assets/learn_more.png');
        background-position-y: bottom;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
        margin-top: 5%;
        padding: 5%;

        h1 {
            @include font-style(Oswald_700, 48px, 64px, $white);
        }

        button {
            width: 165px;
            height: 160px;
            border-radius: 50%;
            background-color: $white;
            border: 0;
            color: $blue;
            cursor: pointer;
            font-size: 70px;
            transition: 0.3s;
            margin-top: 4%;
            &:hover {
                background-color: $blue;
                color: $white;
            }
        }
        p {
            margin: 15% auto;
            width: 30%;
            @include font-style(Source Sans_400, 24px, 32px, $white);
        }
    }
}
