main {
    .learn-more {
        background-image: url('../assets/mobile-learn-more.png');
        background-position-y: bottom;
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 10%;

        button {
            margin: 30%;
            width: 120px;
            height: 120px;
            font-size: 55px;
        }

        p {
            width: 75%;
            margin-top: 0;
        }
    }
}
