@import 'kit/variables';
@import 'kit/mixins';

@font-face {
    font-family: Source Sans_400;
    src: url(../assets/fonts/SourceSans3-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Source Sans_600;
    src: url(../assets/fonts/SourceSans3-SemiBold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Oswald_400;
    src: url(../assets/fonts/Oswald-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Oswald_700;
    src: url(../assets/fonts/Oswald-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}

@import 'header';
@import 'menu';
@import 'text-section';
@import 'video-section';
@import 'footer';

@import 'mobile';

@keyframes animation-ship {
    0% {
        transform: rotateY(0) scale(1);
    }
    25% {
        transform: rotateY(0) scale(1);
    }
    50% {
        transform: rotateY(180deg) scale(1.3);
    }
    0% {
        transform: rotateY(360deg) scale(1);
    }
    0% {
        transform: rotateY(360deg) scale(1);
    }
}
